@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/NanumGothic.woff") format("woff");
}

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/NanumGothicBold.woff") format("woff")
}
